body{
    margin: 0;
    padding: 0;
}
header{
    
}
.nav{
    margin-left: 40px;
    display: flex;
}
.nav h1{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: -0.05em;        
}
.navig a{
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 98px;
    letter-spacing: -0.05em;   
    color: black;
    text-decoration: none;     
}
.navig{
    padding-left: 700px;
}
.nav img{
    margin-top: 20px;
    width: 88px;
    height: 47px;
}
.main{
    margin-left: 100px;
}
.main img{
    position: absolute;
    top: 100px;
    left: 350px;
    margin-left: 350px; 
    margin-top: 50px;
    width: 700px;
}
.main h1{
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: -0.05em;    
}
.main h2{
    font-family: Montserrat;
    width: 800px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.05em;    
}
.about{
    margin-top: 100px;
    background: #FFE401;
    height: 860px;
}
.about h1{
    margin-left: 200px;
    padding-top: 80px;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.05em;     
}
.pages{
    display: flex;
}
.pages h2{
    margin-left: 100px;
    padding-top: 50px;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.05em;     
}
.pages h3{
    padding-top: 25px;
    margin-left: 20px;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.05em;     
}
.pages h4{
    padding-left: 25px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;         
}
.about img{
    width: 500px;
    position: absolute;
    top: 970px;
    left: 820px;
}
footer{
    background: #343539;
}
footer .logotype{
    padding-left: 580px;
    padding-top: 40px;
    width: 277px;
    height: 154px;
}
.logos{
    margin-left: 630px;
    margin-top: 50px;
    padding-bottom:20px;
}
.logos a{
    padding-left: 10px;
}